<!-- <h1>Lista Telefonica</h1>

<div>
  <input type="text" [(ngModel)]="inputNome" />
  <input type="text" [(ngModel)]="inputTelefone" />
  <button (click)="adicionarContato()" [disabled]="botaoInativo()">
    Adicionar
  </button>
</div>

<div *ngIf="listaDeContatos.length == 0">
  <p>Você não tem contatos cadastrados no momento</p>
</div>

<table *ngIf="listaDeContatos.length > 0">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contato of listaDeContatos">
      <td>{{ contato.nome }}</td>
      <td>{{ contato.telefone }}</td>
      <td><button (click)="deletarContato(contato._id)">EXCLUIR</button></td>
    </tr>
  </tbody>
</table> -->

<!-- <app-lista-compra></app-lista-compra> -->

<!-- <app-sistema-bancario></app-sistema-bancario> -->

<app-meu-controle></app-meu-controle>