table {
  width: 100%; /* Ocupa toda a largura do container */
  border-collapse: collapse;
  font-family: sans-serif;
  margin: 10px 0;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f8f9fa;
  color: #333;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Ajuste para o link não ficar com a cor padrão roxa de "visitado" */
a {
  color: #007bff;
  text-decoration: none;
}
